/* .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:  70% 30%; 
} */

/* .app {
  text-align: center;
  text-decoration-color:black;
  background-color: blue;
}

.ab {
display:flex;
justify-content: space-around;
min-height: 10vh;
background: rgb(50, 74, 139);
color:white;

}

aside {
  float: left;
  border: 1px black solid;
  padding: 5px;
}
section {
  margin-left: 210px;
}

main{
  background:gradient();
  background-position: 0px 85px;
  background-size:cover;
} */
