/* .nav {
    display: flex;
    flex-flow: row wrap;
    align-items:flex-end;
    list-style-type:none;
    background-color: darkslategrey;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
} */